.portfolio-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo img {
	height: 100px;
	width: 100px;
}

.name {
	text-align: right;
}

.portfolio-body-h2 {
	margin-left: 20px;
}

.sub-img figcaption {
	text-align: center;
}

.portfolio-footer {
	margin-top: 10px;
	text-align: center;
}

@media only screen and (max-width: 991px) {
	.logo {
		text-align: center;
	}
	.name {
		text-align: center;
	}
}